<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="newspaper">
    <h1>Запрошенные Вами новости</h1>
    <ul>
        {{#each news}} 
            <li>{{this}}</li>
        {{/each}}
    </ul>
</div>
</body>
</html>